# {{ ansible_managed }}

description "Airflow worker daemon"

start on started networking
stop on (deconfiguring-networking or runlevel [016])

respawn
respawn limit {{ airflow_worker_respawn_limit_count }} {{ airflow_worker_respawn_limit_timeperiod }}

chdir {{ airflow_config.core.home }}
setuid {{ airflow_user_name }}
setgid {{ airflow_user_group }}

# Define environment variables
env AIRFLOW_HOME="{{ airflow_config.core.home }}"
env AIRFLOW_CONFIG="${AIRFLOW_HOME}/airflow.cfg"
env AIRFLOW_BINARY_PATH="{{ airflow_virtualenv ~ '/bin' }}"
env AIRFLOW_WORKER_CONCURRENCY="{{ airflow_worker_concurrency }}"
env AIRFLOW_WORKER_PID_FILE="{{ airflow_worker_pid_file }}"
env AIRFLOW_WORKER_LOG_FILE="{{ airflow_worker_log_file }}"

export AIRFLOW_CONFIG
export AIRFLOW_HOME
export AIRFLOW_BINARY_PATH
export AIRFLOW_WORKER_CONCURRENCY
export AIRFLOW_WORKER_PID_FILE
export AIRFLOW_WORKER_LOG_FILE

script
    export PATH="${AIRFLOW_BINARY_PATH}:${PATH}"
    exec "${AIRFLOW_BINARY_PATH}/"airflow worker \
            --concurrency "${AIRFLOW_WORKER_CONCURRENCY}" \
            --pid "${AIRFLOW_WORKER_PID_FILE}" \
            --log-file "${AIRFLOW_WORKER_LOG_FILE}"
end script
